<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}osalt!{% endblock %}</title>
    <style>

    </style>
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message flash-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

        <div class="nav-links">
            {% block nav_links %}
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('list_users') }}">Users</a>
            {% endblock %}
        </div>
    </div>
</body>
</html>
